h1 {
	font-size: 36px;
	font-weight: bold;
	margin: 20px;
	text-transform: uppercase;
}
h2 {
	font-size: 30px;
	font-weight: bold;
	margin: 20px;
	text-transform: uppercase;
}
#TheMessage{
	color:green;
	padding:10px 10px 10px 10px;
	border:1px solid green;
	background-color:#edef9d;
	border-radius:3px;
}
.successdiv{
	height :200px;
	background-color:#e6e6e6;
	border-radius:5px;
	padding:55px 20px 65px 20px;
	margin-top:190px;
	border:4px solid #b5a6a6;
	

}
.sorting {
	border: 1px solid #d5d5d5;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 6px;
    border-bottom: #1d5d98 solid 3px;
    box-shadow: inset #ededed 0 0 20px;
}
.sorting hr{ border-top: 1px solid #e5e5e5; margin: 10px 0; clear: both;}
	.sorting .btn {
	 	background-color: #1d5d98;
    border: none;
    margin: 10px 0 10px 0;
    color: #eaeaea;
    padding: 5px 32px;
    border-radius: 30px;
    text-decoration: none;
    float: right;
    text-transform: uppercase;
    font-weight: 600;
	}
	.sorting p {
		float: left;
		width: 100%;
    font-size: 16px;
		font-weight: 500;
		color: #696767;
	}
.sorted {
	border: 1px solid #d5d5d5;
    padding: 15px;
    min-height: 168px;
    background-color: #ffffff;
    border-radius: 6px;
    border-bottom: #1d5d98 solid 3px;
    box-shadow: inset #ededed 0 0 20px;
}
 .sub {
  		background-color: #07509F!important;
		border: none;
		margin: 14px 5px 5px 0px;
    padding: 6px 30px;
font-size: 16px;
		color: #FFF;
	    border-radius: 2px;
	    text-decoration: none
	}
.btn {
    border: 1px solid #000;
    border-radius: 0px;
    color: #000;
}
.lgn {
	border: 0px;
	background-color: #c7c7c7;
	color: #000;
	border-radius: 5px;
	font-weight: bold;
	padding: 4px 8px;
	border: 1px solid #000;
}
.data_table {
	margin: 50px 0px;
}
	.table {
	    border: 1px solid #000;
	}
		.table>thead>tr>th {
     background-color: #24a9dc!important;
     border: 0px;
     color: white;
		}
		.table>tbody>tr>td {
			border: 1px solid #000;
		}

.question_table {
	margin: 50px 0px;
}
	.question_table .table {
	    border: 0px;
	}
		.question_table .table>thead>tr>th {
			background-color: #ddd;	
			border: 0px;
		}
		.question_table .table>tbody>tr>td {
			border: 0px;
		}
		.question_table span {
			font-size: 16px;
			display: block;
		margin-bottom:30px;
}
		.question_table a {
			float: right;
		}
textarea {
	width: 99%;
}

.registration_table {

}
	.registration_table h3 {
		text-align: left;
    padding-left: 16px !important;
    padding: 12px;
	    
	}
.dividerline:before{
position: absolute;
    top: 22px;
    left: 0px;
    content: "";
    height: 100%;
    width: 1px;
    background: linear-gradient(rgba(208, 211, 205, 0), rgb(195, 195, 195), rgba(208, 211, 205, 0));
}
	.registration_table label {
	    width: 98%;
    margin: 0px 0 8px 0;
	}
.pull-right {
    bottom: 0px;
    float: none!important;
   
    border-radius: 5px 5px 0 0;
    padding: 15px;
	}
	
	.pull-right p {
		float: right;
		font-size: 16px;
		margin-right: 10px;
 }
 .main_border {
    padding: 20px 20px;
  
 }
 .image_style{
		text-align: center;
}

.inputstyle{
width: 80%;
box-shadow: none !important;
padding: 8px 12px !important;
height: auto !important;
boarder-radius: 100% !important;
outline:none;
}
.submitbutton{
    color: #FFF !important;
    border: none;
    padding: 9px 12px;
    border-radius: 2px;
    background: #61c931;
    text-transform: uppercase;
    outline:none;
}
